html {
  font-family: "PT Serif", serif;
  line-height: 1.5;
  background-color: #c9b5ab;
}

h1 {
  font-size: 1.5rem;
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a, a:link {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

nav > ol {
  list-style: none;
}

nav a {
  font-weight: bold;
  font-size: 1.125rem;
  font-family: "PT Sans", sans-serif;
}

figcaption {
  font-style: italic;
  text-align: center;
}

.firstparagraph {
  font-size: 1.125rem;
  font-weight: bold;
}

img {
  width: 100%;
}

.commonvarieties {
  list-style: lower-greek;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

q {
  quotes: "“" "”" "‘" "’";
}

blockquote > cite {
  font-size: 0.8rem;
}

cite {
  font-style: italic;
}

dl dt {
  font-weight: bold;
}

.servingsize {
  font-style: italic;
  font-weight: normal;
  display: inline-block;
  margin: 0 0 1.5rem 0;
}

.tags {
  list-style-type: circle;
  font-size: 0.8rem;
}

strong {
  font-weight: normal;
}
